<div class="container d-flex flex-column align-items-center" style="height: 100vh;">
  <div class="my-auto w-50 h-50">
    <div class="text-center justify-content-center bg-primary p-5 rounded">
      <div class="mb-5">
        <p class="text-primary bg-white rounded">You</p>
        <h2 class="text-white"><%= @question %></h2>
      </div>
      <br>
      <div class="">
        <p class="text-primary bg-white rounded">Coach</p>
        <h2 class="text-white"><%= @answer %></h2>
      </div>
  </div>
    <br>
    <%= link_to "Talk to your coach!", ask_path, class: "btn btn-secondary w-100" %>
  </div>
</div>
