<div class="container d-flex justify-content-center" style="height: 100vh;">
  <div class="my-auto text-center justify-content-center bg-primary p-5 rounded">
    <form action="/answer" class="form-inline">
      <label for="question" class="sr-only">Speak to your coach</label>
      <input type="text" id="question" name="query" placeholder="What you say to your coach?" class="form-control">
      <input type="submit" value="Go on!" class="btn btn-light">
    </form>
  </div>
</div>
